/* breadcrumbs */
.breadcrumbs+.main-seo-title {
    padding-top: 0;
}

.breadcrumbs {
    margin: 20px 0;
    font-size: 0.85rem;
    font-weight: 600;
    color: #666;
}

.breadcrumb-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.breadcrumb-link{
    transition: color 0.3s ease;
}
.breadcrumb-link:hover {
    color: var(--primary-blue);
}

.breadcrumb-sep {
    color: #ccc;
    font-size: 0.75rem;
}

.breadcrumb-current {
    color: #333;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
