/* Search Bar */
.search-form {
    display: flex;
    width: 100%;
    gap: 0;
    overflow: hidden;
    justify-content: space-between;
    border: 2px solid rgba(80, 80, 80, 0.1);
    background-color: white;
    border-radius: 10px;
}

.search-form label {
    flex-grow: 1;
}

.search-field{
    width: 100%;
    border: none;
    padding: 10px 15px;
    padding-right:0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-field:focus{
    outline: none;
}

.search-form:focus-within{
    border-color: var(--primary-orange);
    box-shadow: 0 0 5px rgba(255, 153, 0, 0.3);
}

.search-submit {
    color: black;
    border: none;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

